.Footer{
  position: fixed;
 left: 0;
 bottom: 0;
 right: 0;
 background-color: rgb(18, 1, 1);
 color: aliceblue;
}
.logos{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
.social img{
    height: 40px;
    width: 40px;
    margin-left: 10px;
    border-radius: 8px;
}

.apps img{
    height: 40px;
    width: 150px;
    margin-left: 10px;
    border-radius: 8px;


}


.foot1 a{
    color: aliceblue;
    text-decoration: none;
    margin-left: 10px;
}


